<p>ようこそ、TechnicalBookReviewersへ！</p>
<p>このサイトは、技術書籍の書評を確認できます。</p>
<p>会員でない方も書評の閲覧はできますが、<br>
  書籍登録及び書評登録には会員登録が必要になります。</p>
<h3>書籍</h3>
<%# TODO:書籍登録〜詳細機能を実装してから %>
<h3>書評</h3>
<%# TODO:書評登録〜詳細機能を実装してから %>
